main {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    overflow-wrap: break-word;
    hyphens: auto;
}

@media (max-width: 768px) {
    main {
        width: 90%;
    }
}

a {
    color: var(--primary-color);
    text-underline: var(--primary-color);
}

a:hover {
    color: var(--primary-color-dark);
}

main h1, main h2, main h3 {
    margin-bottom: var(--spacing-md);
    color: var(--text-secondary);
    padding-bottom: var(--spacing-sm);
}

main h1, main h2 {
    border-bottom: 1px solid var(--border-light);
}

hr {
    border-bottom: 1px solid var(--border-light);
}