---
layout: default
title: blog
---


<div class="card-container">
    {% for post in site.posts %}
        {% if post.kind == "article" %}
        <section>
            <h2>{{ post.title }}</h2>
            <p>
                <!-- {{ post.description | default: post.excerpt | strip_html | strip_newlines | truncate: 50, '...' }}-->
                {% if post.description %}
                简介：{{ post.description }}
                {% else %}
                {{ post.excerpt | strip_html | strip_newlines | truncate: 100, '...' }}
                {% endif %}
            </p>
            <p class="note">创建时间: {{ post.date | date: "%Y-%m-%d" }}</p>
            <a href="{{ post.url | relative_url }}">阅读全文 →</a>
        </section>
        {% else %}
        <section class="border">
            <div>{{ post.content }}</div>
            <p class="note">创建时间: {{ post.date | date: "%Y-%m-%d" }}</p>
            <a href="{{ post.url | relative_url }}">查看原文 →</a>
        </section>
        {% endif %}
    {% endfor %}
</div>
<footer><p>&copy; 2025 - <span id="nowYear"></span> SqrtOne 版权所有</p></footer>

<!-- js -->
<script src="{{ site.url }}{{ site.baseurl }}/script.js" defer></script>