---
layout: default
css:
  - blog.css
---

{% for post in site.posts %}
{% unless post.kind == "blog" %}
<section>
    <h2>{{ post.title }}</h2>
    <div class="info">
        <img src="{{ site.url }}{{ site.baseurl }}/image/avatar-sm.png" alt="">
        <div class="other">
            <p>{{ site.author }}</p>
            <p>{{ post.date | date: "%Y-%m-%d" }}</p>
        </div>
    </div>
    {{ post.content }}
    <h3><a href="{{ post.url | relative_url }}">查看原文or评论→</a></h3>
</section>
{% endunless %}
{% endfor %}

{% include footer.html %}