<aside>
    <nav>
        <ul>
            <li>
                <a href="{{ site.baseurl }}/"
                   {% if page.url == '/' or page.url == '/index.html' %}class="active"{% endif %}>
                首页
                </a>
            </li>

            <li>
                <a href="{{ site.baseurl }}/blog"
                   {% if page.url == '/blog' or page.url == '/blog/' or page.url == '/blog.html' %}class="active"{% endif %}>
                blog
                </a>
            </li>

            <li>
                <a href="{{ site.baseurl }}/about"
                   {% if page.url == '/about' or page.url == '/about/' or page.url == '/about.html' %}class="active"{% endif %}>
                关于我
                </a>
            </li>

            {% if page.layout == 'post' %}
            <li>
                <a href="#" class="active">{{ page.title }}</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</aside>